// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#headline{
   float:right;
   color: white;
 }

#bheadline{
  position: absolute;
  bottom: 10px; /* adjust as desired to compensate for smaller font size */
  right: 5px;
  color: white;
}

.img-overlay img {
  margin: 0;
  opacity: 1.0;
  display: block;
  clear:both;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.img-overlay
{
  position: relative;
  border: 3px #000 solid;
  clear:both;
}

.circular {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  background: url(http://link-to-your/image.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.vidTitle{
  line-height:2px;
  padding:0px;
}