<p id="notice"><%= notice %></p>

<iframe src="//player.vimeo.com/video/76752860?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


<p>

   [Title] <br>
  [Subtitle]   <br>
  [Call to Action Button]            <br>
  By [USERNAME]             <br>

  [Description]   <br>

  [Program Outline]   <br>

  [Reviews]   <br>

  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
