
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <%= link_to "Rock Solo", root_path, :class =>"navbar-brand" %>
      <button type="button" class="btn btn-default lbalign" id="open-left"><span class="glyphicon glyphicon-align-left"></span></button>

      <% if user_signed_in? %>
          <button type="button" class="btn btn-default rbalign" id="open-right"><%= image_tag "/assets/profile.jpg", :height => '24', :width => '24' %></button>

      <% else %>

          <button type="button" class="btn btn-default rbalign" id="open-right"><span class="glyphicon glyphicon-user"></span></button>

      <% end %>

    </div>


  </div>
</nav>